---
import { Image } from 'astro:assets'
import LogoMax from '../../../assets/images/mainPage/logoMax.png'
---
<nav id="fix-menu" class="hidden opacity-0 duration-1000 transition-opacity h-16 sm:h-24 dark:bg-gray-900 bg-white fixed z-30 shadow-2xl w-full">
  <div class="w-full mx-auto px-6 xl:pl-16 container">
    <div class="flex flex-wrap items-center justify-start h-16 sm:h-24">
      <div class=" items-center max-sm:order-last hidden max-sm:block">
        <button type="button" class=" bg-white dark:bg-gray-900 p-2 items-center justify-center rounded-md text-black dark:text-white">
          <span class="sr-only">Open main menu</span>
          <svg class="block h-10 w-10 lg:h-14 lg:w-14" fill="none" viewBox="0 0 20 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg class="hidden h-4 w-4" fill="none" viewBox="0 0 10 10" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="flex-shrink-0 px-2">
        <Image class="h-12 w-12 rounded-lg lg:h-14 lg:w-14" src={LogoMax} alt="LogoMenu"/>
      </div>
      <div class=" text-black dark:text-white lg:text-sm leading-none flex items-center">LEVIRIN<br>студия красоты</div>
      <div class="flex justify-center ml-auto">
        <div class="hidden md:block ">
          <a href="#price" class="text-black hover:bg-pink-700 hover:text-white px-2 lg:px-4 mx-4 py-2 rounded-3xl text-sm lg:text-lg dark:text-white">ПРАЙС</a>
          <a href="#promotion" class="text-black hover:bg-pink-700 hover:text-white px-2 lg:px-4 mx-4 py-2 rounded-3xl text-sm lg:text-lg dark:text-white">АКЦИИ</a>
          <a href="#reviews" class="text-black hover:bg-pink-700 hover:text-white px-2 lg:px-4 mx-4 py-2 rounded-3xl text-sm lg:text-lg dark:text-white">ОТЗЫВЫ</a>
          <a href="https://booksy.com/pl-pl/14092_levirin_paznokcie_13750_wroclaw" target="_blank" class="inline-flex justify-center items-center w-[200px] h-10 2xl:h-14 2xl:w-[250px] lg:mx-4 text-center lg:text-lg 2xl:text-2xl rounded-3xl text-white max-sm: bg-pink-700 dark:bg-pink-700 dark:hover:bg-pink-600 hover:bg-pink-500 hover:shadow hover:cursor-pointer transform transition-transform"
            type="submit">Записаться</a>
        </div>
      </div>
    </div> 
  </div>
</nav>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>

<script>

  window.addEventListener('scroll', () => {
    const menu = document.getElementById('fix-menu');

    if (window.scrollY > 150 && window.innerWidth >= 768) {
      menu.classList.remove('hidden')
      menu.classList.remove('opacity-0')
      menu.classList.add('opacity-100')
    } else {
      menu.classList.add('hidden')
      menu.classList.remove('opacity-100')
      menu.classList.add('opacity-0')
    }

  })

</script>