<div id="modal-alert" class="fixed z-50 hidden inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
    <div class="flex items-center justify-center min-h-screen">
        <div class="relative p-5 border w-96 shadow-lg rounded-md bg-white">
            <div class="text-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Запрос отправлен</h3>
                <div class="mt-2 px-7 py-3">
                    <p class="text-sm text-gray-500">Мы Вам перезвоним, в ближайшее время.</p>
                </div>
                <div class="items-center px-4 py-3">
                    <button id="closeModalButton" class="px-4 py-2 bg-gray-500 text-white text-base font-medium rounded-md w-full shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
                        Закрыть
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const modalBtn = document.getElementById('closeModalButton')
    if (modalBtn)
    modalBtn.addEventListener('click', () => {
        console.log('work')
        const windowModalAlert = document.getElementById('modal-alert')
        windowModalAlert.classList.add('hidden')
    })
</script>