---
import {Image} from 'astro:assets';
import priceImg from '../../../assets/images/mainPage/price-img.png';
import grayBackground from '../../../assets/images/mainPage/gray-concrete-backgraund.png';
---
<section id="price" class="p-6 dark:text-gray-200 dark:bg-gray-900">
    <div class="mx-auto lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px]">
        <h2 class="uppercase text-3xl font-bold mb-2.5 text-center lg:text-start">ПРАЙС-ЛИСТ</h2>
    </div>
    <div class="mx-auto border relative lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px] py-4 max-sm:px-4 lg:py-7">
        <div id="grid-wrapper"
             class="lg:grid grid-rows-3 lg:gap-x-28 lg:grid-flow-dense justify-center">
            <div class="mb-6 max-w-[28rem] lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2 lg:w-[20rem] xl:w-[28rem] mx-auto">
                <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start lg:mx-auto font-medium text-center">
                    Маникюр</h3>
                <ul class="text-lg mx-auto">
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Гибридный</span><span>115 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Гелевое покрытие</span><span>135 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Гель на натуральной пластине</span><span>130 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Наращивание ногтей</span><span>170 zł</span>
                    </li>
                </ul>
            </div>
            <div class="mb-6 max-w-[28rem] lg:w-[20rem] xl:w-[28rem] mx-auto">
                <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start font-medium text-center">Брови</h3>
                <ul class="text-lg mx-auto">
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Хна + Регулирование</span><span>60 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Ламинирование бровей</span><span>120 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Ламинирование ресниц</span><span>125 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Архитектура бровей</span><span>130 zł</span>
                    </li>
                </ul>
            </div>
            <div class="mb-6 lg:mb-0 max-w-[28rem] lg:w-[20rem] mx-auto xl:w-[28rem] lg:col-start-1 lg:col-end-2 lg:row-start-3 lg:row-end-5">
                <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start font-medium text-center">Ресницы</h3>
                <ul class="text-lg mx-auto lg:mb-16">
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>____?????</span><span>120 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>__????</span><span>110 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Żel na naturalnej płycie______?????</span><span>50 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Przedłużanie paznokci_____??????</span><span>50 zł</span>
                    </li>
                </ul>
            </div>
            <div id="section-price-4"
                 class="mb-6 lg:w-[20rem] mx-auto max-w-[28rem] xl:w-[28rem] hidden lg:block lg:col-start-2 lg:col-end-2 lg:row-start-1 lg:row-end-1">
                <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start font-medium text-center">Педикюр</h3>
                <ul class="text-lg mx-auto">
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Фрезерный</span><span>110 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Гибридный</span><span>110 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Полный</span><span>150 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8"><span>Спа</span><span>130 zł</span>
                    </li>
                </ul>
            </div>
            <div id="section-price-5"
                 class="hidden lg:block mb-6 lg:mb-0 max-w-[28rem] lg:w-[20rem] mx-auto xl:w-[28rem] lg:col-start-2 lg:col-end-3 lg:row-start-2 lg:row-end-5">
                <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start font-medium text-center">Окрашивание</h3>
                <ul class="text-lg mx-auto mb-9">
                    <li class="flex justify-between border-b border-dashed mb-4 lg:mb-8">
                        <span>Frezarkowy____????</span><span>110 zł</span>
                    </li>
                    <li class="flex justify-between border-b border-dashed"><span>Hybrydowy______????</span><span>110 zł</span>
                    </li>
                </ul>
            </div>
            <Image src={grayBackground} alt="Background 1" class="hidden lg:block absolute bottom-28 right-28 -z-10"/>
            <Image src={priceImg} alt="Hairdresser" class="hidden lg:block absolute bottom-10 right-10 mx-auto max-h-[34rem]"/>
            <Image src={grayBackground} alt="Background 2" class="hidden lg:block absolute bottom-0 right-0 -z-10"/>
            <button id="open-full-price"
                    class="lg:hidden mb-2.5 mx-auto md:w-72 block text-center font-pt-sans text-white rounded-3xl bg-pink-600 dark:bg-pink-700 dark:hover:bg-pink-600 hover:bg-pink-500 hover:shadow hover:cursor-pointer transform transition-transform hover:-translate-y-1 p-2 px-5 uppercase md:text-xl">
                <span class="text-span">Показать все цены</span>
            </button>
        </div>
    </div>
</section>

<script>
    const section4 = document.getElementById('section-price-4');
    const section5 = document.getElementById('section-price-5');
    const openBtn = document.getElementById('open-full-price');
    const textBtn = document.querySelector('.text-span');

    openBtn.addEventListener('click', () => {
        section4.classList.toggle('hidden');
        section5.classList.toggle('hidden');

        textBtn.textContent = textBtn.textContent === "Показать все цены" ? "Скрыть цены" : "Показать все цены";
    })
</script>

<style>
    @media (min-width: 1024px) {
        #grid-wrapper {
            grid-template-columns: repeat(2, minmax(0, 28rem));
            grid-auto-rows: 5rem;
        }
    }

</style>