---
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components';
import circleTop from '../../assets/images/mainPage/circle-top.svg';
import circleDown from '../../../assets/images/mainPage/circle-down.svg';
---
<section id="promotion" class="relative overflow-hidden min-h-svh sm:flex sm:flex-col p-6 md:pt-10 sm:min-h-0 dark:bg-gray-900 ">
    <Image src={circleDown} alt="Decoration circle 1" class="absolute -top-48 -left-48 md:-top-36 md:-left-36" id="circleTop" />
    <Image src={circleDown} alt="Decoration circle 2" class="absolute -bottom-44 -right-44 md:-bottom-40 md:-right-36" id="circleDown" />

    <div class="mx-auto container">
        <h2 class="uppercase font-bold text-2xl xl:text-3xl text-balance mb-6 md:mb-8 text-center dark:text-gray-200">ИНТЕРЕСНЫЕ ПРЕДЛОЖЕНИЯ</h2>

        <div class="hs-accordion-group text-balance mb-6 md:max-w-[46rem] xl:max-w-[56rem] mx-auto" data-hs-accordion-always-open>
            <div class="hs-accordion active" id="hs-basic-always-open-heading-one">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Akcie</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-one">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· MANICURE + HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">50 zł.</span></li>
                        <li class="mb-2">· MANICURE + PEDICURE — <span class="font-semibold">120 zł</span>.</li>
                        <li class="mb-2">· WYRÓWNANIE — <span class="font-semibold">BEZPŁATNIE</span>.</li>
                        <li class="mb-2">· MANICURE — <span class="font-semibold">30 zł.</span></li>
                        <li>· MANICURE + LUXIO HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">80 zł.</span></li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion" id="hs-basic-always-open-heading-two">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Kompleks usług</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-two">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· MANICURE + HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">50 zł.</span></li>
                        <li class="mb-2">· MANICURE + PEDICURE — <span class="font-semibold">120 zł</span>.</li>
                        <li class="mb-2">· WYRÓWNANIE — <span class="font-semibold">BEZPŁATNIE</span>.</li>
                        <li class="mb-2">· MANICURE — <span class="font-semibold">30 zł.</span></li>
                        <li>· MANICURE + LUXIO HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">80 zł.</span></li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion" id="hs-basic-always-open-heading-three">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Brwi</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-three">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· MANICURE + HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">50 zł.</span></li>
                        <li class="mb-2">· MANICURE + PEDICURE — <span class="font-semibold">120 zł</span>.</li>
                        <li class="mb-2">· WYRÓWNANIE — <span class="font-semibold">BEZPŁATNIE</span>.</li>
                        <li class="mb-2">· MANICURE — <span class="font-semibold">30 zł.</span></li>
                        <li>· MANICURE + LUXIO HYBRYDOWY LAKIER DO PAZNOKCI + WYRÓWNANIE — <span class="font-semibold">80 zł.</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <a class="mb-6 w-64 md:w-72 block text-center mx-auto text-white rounded-3xl bg-pink-600 dark:bg-pink-700 dark:text-gray-200 dark:hover:bg-pink-600 hover:bg-pink-500 hover:shadow hover:cursor-pointer transform transition-transform hover:-translate-y-1 p-4  h-14 text-lg md:text-xl">Записаться</a>
    </div>
</section>

<style>
    #circleTop {
        transform: rotate(-134.08deg);
    }

    #circleDown {
        transform: rotate(33.41deg);
    }
</style>
<script src="../../../../node_modules/preline/dist/preline.js"></script>