---
import {Image} from 'astro:assets';
import { Icon } from 'astro-icon/components';
import circleTop from '../assets/images/mainPage/circle-top.svg';
import circleDown from '../../assets/images/mainPage/circle-down.svg';
---
<section id="promotion" class="relative overflow-hidden sm:flex sm:flex-col p-6 md:pt-10 sm:min-h-0 dark:bg-gray-900 ">
    <Image src={circleDown} alt="Decoration circle 1" class="absolute -top-48 -left-48 md:-top-36 md:-left-36" id="circleTop" />
    <Image src={circleDown} alt="Decoration circle 2" class="absolute -bottom-44 -right-44 md:-bottom-40 md:-right-36" id="circleDown" />

    <div class="mx-auto container">
        <h2 class="uppercase font-bold text-2xl xl:text-3xl text-balance mb-6 md:mb-8 text-center dark:text-gray-200">PRZYKUWAJĄCE UWAGĘ OFERTY</h2>

        <div class="hs-accordion-group text-balance mb-6 md:max-w-[46rem] xl:max-w-[56rem] mx-auto" data-hs-accordion-always-open>
            <div class="hs-accordion active" id="hs-basic-always-open-heading-one">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Akcie</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-one" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-one">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· Manicure hybrydowy, manicure żelowy u nowego mistrza - <span class="font-semibold">100 zł.</span></li>
                        <li class="mb-2">· Przedłużanie paznokci u doświadczonego mistrza w celu doskonalenia kursu nowych metod przedłużania - <span class="font-semibold">130 zł</span>.</li>
                        <li class="mb-2">· Przedłużanie rzęs -  <span class="font-semibold">20% od cennika, na pierwszą wizytę</span>.</li>
                        <li class="mb-2">· Makijaż permanentny, przy zapisie na dwie strefy <span class="font-semibold">kreska między rzęsowa w prezencie</span></li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion" id="hs-basic-always-open-heading-two">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Kompleks usług</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-two" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-two">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· Manicure + pedicure - <span class="font-semibold">2 usługi jednocześnie w 1,5 godziny</span></li>
                        <li class="mb-2">· Manicure + pedicure + brwi - <span class="font-semibold">3 usługi jednocześnie w 2 godziny</span>.</li>
                        <li class="mb-2">· Pedicure + spa dla rąk - <span class="font-semibold">2 usługi w 1 godzinę 20 minut</span>.</li>
                    </ul>
                </div>
            </div>

            <div class="hs-accordion" id="hs-basic-always-open-heading-three">
                <div class="border-t-0.5-slate-600 dark:text-gray-800 border"></div>
                <button class="hs-accordion-toggle hs-accordion-active:text-pink-600 py-3 inline-flex justify-between items-center gap-x-3 w-full font-semibold text-start text-gray-800 hover:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-pink-500 dark:text-gray-200 dark:hover:text-gray-400 dark:focus:outline-none dark:focus:text-gray-400" aria-controls="hs-basic-always-open-collapse-one">
                    <span class="text-2xl xl:text-3xl">Usługi z dojazdem</span>
                    <Icon name="openBtn" class="hs-accordion-active:hidden block size-8" />
                    <Icon name="openBtn" class="hs-accordion-active:block hidden size-8 transform -rotate-45" />
                </button>
                <div id="hs-basic-always-open-collapse-three" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300" aria-labelledby="hs-basic-always-open-heading-three">
                    <ul class="xl:text-lg mb-3 text-gray-800 dark:text-gray-200 leading-tight">
                        <li class="mb-2">· Manicure z dojazdem do domu, szpitala, biura - <span class="font-semibold">od 240 zł</span></li>
                        <li class="mb-2">· Pedicure z dojazdem do domu, szpitala, biura - <span class="font-semibold">od 250 zł</span>.</li>
                    </ul>
                </div>
            </div>
        </div>
        <a href="https://booksy.com/pl-pl/14092_levirin_paznokcie_13750_wroclaw" target="_blank" class="mb-6 w-64 md:w-72 flex uppercase justify-center items-center text-center mx-auto text-white rounded-3xl bg-pink-600 dark:bg-pink-700 dark:text-gray-200 dark:hover:bg-pink-600 hover:bg-pink-500 hover:shadow hover:cursor-pointer transform transition-transform hover:-translate-y-1 p-4  h-14 text-lg md:text-xl">Zapisać
            się</a>
    </div>
</section>

<style>
    #circleTop {
        transform: rotate(-134.08deg);
    }

    #circleDown {
        transform: rotate(33.41deg);
    }
</style>
<script src="../../../node_modules/preline/dist/preline.js"></script>