---
import Modals from "./Modals.astro";
---
<section id="question" class="relative bg-image-mobile-question md:bg-image-desktop-question bg-center bg-cover 2xl:h-[800px]">
    <div class="absolute inset-0 dark:bg-gray-900 opacity-70 z-10"></div>
    <div class="relative z-20 flex flex-col mx-auto sm:max-lg:p-6 max-sm:items-center max-sm:text-center max-sm:px-7 justify-center h-full pt-5 lg:pt-8 pb-6 lg:pb-12 lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px]">
        <h2 class="text-white text-3xl md:text-4xl 2xl:text-5xl md:py-4">Pozostały jakieś pytania?</h2>
        <p class="text-white text-lg lg:text-xl 2xl:text-2xl mb-6 md:mb-10 xl:mb-14 md:w-1/2 ">Zostaw zgłoszenie, oddzwonimy do Ciebie w najbliższym czasie</p>
        <form id="questionForm" class="bg-[#7d1a51] dark:bg-gray-900 p-6 md:px-10 max-w-[450px] md:max-w-[500px] lg:max-w-[550px] xl:max-w-[640px] 2xl:max-w-[750px] rounded-md" action="" method="">
            <label for="name" class="sr-only">Twoje imię</label>
            <input class="p-3 mb-4 text-md 2xl:text-xl w-full border rounded-lg text-gray-900 leading-tight focus:outline-none"
                id="name" type="text" placeholder="Twoje imię">
            <div id="nameError" class="text-red-500 text-sm mb-2 hidden">Proszę wpisać swoje imię.</div>
            <label for="phone" class="sr-only">Twój numer telefonu</label>
            <input class="p-3 mb-4 text-md 2xl:text-xl w-full border rounded-lg text-gray-900 leading-tight focus:outline-none"
                id="phone" type="tel" placeholder="Twój numer telefonu">
            <div id="phoneError" class="text-red-500 text-sm mb-2 hidden">Proszę wpisać prawidłowy numer telefonu.</div>
            <label for="buttonForm" class="sr-only">Wyślij</label>
            <button id="buttonForm" class="p-3 uppercase items-center justify-center mb-3 w-full text-md 2xl:text-xl bg-green-700 hover:bg-green-600 dark:bg-pink-700 dark:hover:bg-pink-600 text-white font-bolt rounded-lg focus:outline-none focus:shadow-2xl"
                type="submit">Wyślij</button>
            <div class="flex items-center">
                <input type="checkbox" id="agree" class="h-3 w-3 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded-lg leading-tight">
                <label for="agree" class="text-white ms-2 text-md 2xl:text-xl">zasubskrybowałam Instagram, -20% zniżki</label>
                </div>
        </form>
    </div>
</section>
<Modals/>

<style>
    #questionForm, 
    #buttonForm {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    }
</style>

<script>
    const questionForm = document.getElementById('questionForm')

    const validatePhone = (phone) => {
        const phoneRegex = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
        return phoneRegex.test(phone);
    };

    if(questionForm)
    questionForm.addEventListener('submit', (e) => {
        e.preventDefault()

        const nameElement = document.getElementById('name') as HTMLInputElement;
        const phoneElement = document.getElementById('phone') as HTMLInputElement;

        const name = nameElement.value.trim();
        const phone = phoneElement.value.trim();


        const nameError = document.getElementById('nameError');
        const phoneError = document.getElementById('phoneError');

        let isValid = true;

        if (name === '') {
            nameError.classList.remove('hidden')
            isValid = false
        } else {
            nameError.classList.add('hidden')
        }

        if (phone === '' || !validatePhone(phone)) {
            phoneError.classList.remove('hidden')
            isValid = false
        } else {
            phoneError.classList.add('hidden')
        }

        if (!isValid) return;

        const windowModalAlert = document.getElementById('modal-alert')
        windowModalAlert.classList.remove('hidden')
        const nameInput = document.getElementById('name') as HTMLInputElement;
        const phoneInput = document.getElementById('phone') as HTMLInputElement;
        nameInput.value = '';
        phoneInput.value = '';
        const agreeCheckbox = document.getElementById('agree') as HTMLInputElement;
        agreeCheckbox.checked = false;
        //sending form, in process of work
    })
</script>