---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Example.astro';
import Advantages from "../components/Advantages.astro";
import FirstScreen from "../components/FirstScreen.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <FirstScreen/>
        <Advantages/>
    </main>
</Layout>
