---
import Layout from '../layouts/Layout.astro';
import Advantages from "../components/Advantages.astro";
import FirstScreen from "../components/FirstScreen.astro";
import DarkMode from "../components/DarkMode.astro";
import Review from "../components/Review.astro"
import CallToAction from '../components/CallToAction.astro';
import Promotions from "../components/Promotions.astro";
import Price from "../components/Price.astro";
import Test from "../components/Test.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <FirstScreen/>
        <Price/>
        <!--<Test/>-->
        <Promotions/>
        <Advantages/>
        <Review/>
        <CallToAction/>
    </main>
    <DarkMode/>
</Layout>
