---
import {Image} from 'astro:assets'
import disposable from '../assets/images/mainPage/disposable.svg'
import guarantee from '../assets/images/mainPage/guarantee.svg'
import topMasters from '../assets/images/mainPage/top-masters.svg'
---
<section class="bg-gray-50">
    <div class=" mt-9 container flex flex-col sm:flex-row mx-auto justify-around">
        <div class="text-center mt-5">
            <Image src={disposable} alt="Jednorazowe materiały" class="mx-auto w-24 mb-3"/>
            <span class="text-m sm:text-l">Jednorazowe materiały</span>
        </div>
        <div class="text-center mt-5">
            <Image src={guarantee} alt="Gwarancja na pokrycie" class="mx-auto w-24 mb-3"/>
            <span class="text-m sm:text-l">Gwarancja na pokrycie</span>
        </div>
        <div class="text-center mt-5">
            <Image src={topMasters} alt="Najlepsi mistrzowie" class="mx-auto w-24 mb-3"/>
            <span class="text-m sm:text-l">Najlepsi mistrzowie</span>
        </div>
    </div>
</section>