---
import {Image} from 'astro:assets'
import disposable from '../assets/images/mainPage/disposable.svg'
import guarantee from '../assets/images/mainPage/guarantee.svg'
import topMasters from '../assets/images/mainPage/top-masters.svg'
---
<section class="bg-neutral-50">
    <div class="container flex flex-col sm:flex-row mx-auto justify-around sm:p-14">
        <div class="text-center mt-6">
            <Image src={disposable} alt="Jednorazowe materiały" class="mx-auto sm:size-25 md:size-35 lg:size-45 xl:size-55 2xl:size-65"/>
            <span class="text-neutral-600 text-base sm:text-2xl">Jednorazowe materiały</span>
        </div>
        <div class="text-center mt-6">
            <Image src={guarantee} alt="Gwarancja na pokrycie" class="mx-auto sm:size-25 md:size-35 lg:size-45 xl:size-55 2xl:size-65"/>
            <span class="text-neutral-600 text-base sm:text-2xl">Gwarancja na pokrycie</span>
        </div>
        <div class="text-center mt-6">
            <Image src={topMasters} alt="Najlepsi mistrzowie" class="mx-auto sm:size-25 md:size-35 lg:size-45 xl:size-55 2xl:size-65"/>
            <span class="text-neutral-600 text-base sm:text-2xl">Najlepsi mistrzowie</span>
        </div>
    </div>
</section>