---
import {Image} from 'astro:assets'
import disposable from '../assets/images/mainPage/disposable.svg'
import guarantee from '../assets/images/mainPage/guarantee.svg'
import topMasters from '../assets/images/mainPage/top-masters.svg'
---
<section class="bg-#fafafa">
    <div class="container flex flex-col sm:flex-row mx-auto justify-around p-20">
        <div class="text-center sm:size-25 md:size-30 lg:size-35 xl:size-40 2xl:size-45">
            <Image src={disposable} alt="Jednorazowe materiały" class="mx-auto m-3"/>
            <span class="text-neutral-600 text-xs sm:text-sm">Jednorazowe materiały</span>
        </div>
        <div class="text-center sm:size-25 md:size-30 lg:size-35 xl:size-40 2xl:size-45">
            <Image src={guarantee} alt="Gwarancja na pokrycie" class="mx-auto size-25 m-3"/>
            <span class="text-neutral-600 text-xs sm:text-sm">Gwarancja na pokrycie</span>
        </div>
        <div class="text-center sm:size-25 md:size-30 lg:size-35 xl:size-40 2xl:size-45">
            <Image src={topMasters} alt="Najlepsi mistrzowie" class="mx-auto size-25 m-3"/>
            <span class="text-neutral-600 text-xs sm:text-sm">Najlepsi mistrzowie</span>
        </div>
    </div>
</section>