---
import {Image} from 'astro:assets'
import disposable from '../assets/images/mainPage/disposable.svg'
import guarantee from '../assets/images/mainPage/guarantee.svg'
import topMasters from '../assets/images/mainPage/top-masters.svg'
---
<section class="bg-neutral-50 p-6 sm:p-14">
    <div class="container flex flex-col sm:flex-row mx-auto justify-around">
        <div class="text-center">
            <Image src={disposable} alt="Jednorazowe materiały" class="mx-auto m-4 size-25 sm:size-28 md:size-32 lg:size-36 xl:size-40 2xl:size-48"/>
            <span class="text-neutral-600 text-2xl sm:text-lg lg:text-xl 2xl:text-3xl">Jednorazowe materiały</span>
        </div>
        <div class="text-center">
            <Image src={guarantee} alt="Gwarancja na pokrycie" class="mx-auto m-4 size-25 sm:size-28 md:size-32 lg:size-36 xl:size-40 2xl:size-48"/>
            <span class="text-neutral-600 text-2xl sm:text-lg lg:text-xl 2xl:text-3xl">Gwarancja na pokrycie</span>
        </div>
        <div class="text-center">
            <Image src={topMasters} alt="Najlepsi mistrzowie" class="mx-auto m-4 size-25 sm:size-28 md:size-32 lg:size-36 xl:size-40 2xl:size-48"/>
            <span class="text-neutral-600 text-2xl sm:text-lg lg:text-xl 2xl:text-3xl">Najlepsi mistrzowie</span>
        </div>
    </div>
</section>