---
import {Image} from 'astro:assets'
import disposable from '../assets/images/mainPage/disposable.svg'
import guarantee from '../assets/images/mainPage/guarantee.svg'
import topMasters from '../assets/images/mainPage/top-masters.svg'
---
<section class="bg-neutral-100 dark:bg-gray-900 p-6">
    <div class="flex flex-col sm:flex-row mx-auto justify-between w-full lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px]">
        <div class="text-center mb-5 sm:mb-0 sm:py-12">
            <Image src={disposable} alt="Jednorazowe materiały" class="mx-auto mb-4 size-24 sm:size-28 md:size-32"/>
            <span class="text-neutral-600 dark:text-white text-xl 2xl:text-2xl">Jednorazowe materiały</span>
        </div>
        <div class="text-center mb-5 sm:mb-0 sm:py-12">
            <Image src={guarantee} alt="Gwarancja na pokrycie" class="mx-auto mb-4 size-24 sm:size-28 md:size-32"/>
            <span class="text-neutral-600 dark:text-white text-xl 2xl:text-2xl">Gwarancja na pokrycie</span>
        </div>
        <div class="text-center sm:py-12">
            <Image src={topMasters} alt="Najlepsi mistrzowie" class="mx-auto mb-4 size-24 sm:size-28 md:size-32"/>
            <span class="text-neutral-600 dark:text-white text-xl 2xl:text-2xl">Najlepsi mistrzowie</span>
        </div>
    </div>
</section>