---

import { Image } from 'astro:assets'
import Subtract from '../assets/images/mainPage/Subtract.png'


---

<section class="bg-neutral-50 dark:bg-gray-900">
    <div class="flex flex-row mx-auto relative overflow-hidden text-center justify-around">
        <Image class="flex absolute left-[-180px] top-[-180px] lg:left-[-140px] lg:top-[-140px] transform rotate-[120] " src={Subtract} alt="circle"/>
        <span class="text-gray-800 font-sans text-lg lg:text-2xl 2xl:text-4xl font-normal md:font-light tracking-tight my-24 dark:text-white text-balance">Cała magia jest w Tobie, ale chcielibyśmy dodać trochę blasku!</span>
        <Image class="flex absolute right-[-180px] bottom-[-180px] lg:right-[-140px] lg:bottom-[-140px] transform rotate-[90]" src={Subtract} alt="circle"/>
    </div>
</section>