---

import { Image } from 'astro:assets'
import Subtract from '../assets/images/mainPage/Subtract.png'


---

<section class="bg-neutral-50 p-6  dark:bg-gray-900 sm:p-14">
    <div class="flex flex-row mx-auto relative overflow-hidden text-center justify-around">

        <Image class="flex absolute left-[-100px] top-[-100px] transform rotate-[120] max-h-[200px] max-w-[200px]" src={Subtract} alt="circle"/>

        <span class="text-gray-800 flex font-sans text-lg lg:text-2xl 2xl:text-4xl font-light tracking-tight my-24 dark:text-white">Cała magia jest w Tobie, ale chcielibyśmy dodać trochę blasku!</span>
        
        <Image class="flex absolute right-[-100px] bottom-[-100px] transform rotate-[90] max-h-[200px] max-w-[200px] " src={Subtract} alt="circle"/>

    
    </div>
    
    
</section>