---

import { Image } from 'astro:assets'
import Subtract from '../assets/images/mainPage/Subtract.png'


---

<section class="bg-neutral-50 relative overflow-hidden dark:bg-gray-900 p-6 sm:p-14">
    <div class="text-center">
        <Image class="absolute -top-48 -left-52 md:-left-40 md:-top-40 z-20" src={Subtract}  alt="circle"/>
        <span class="text-gray-800 font-sans text-xl md:text-2xl xl:text-4xl font-normal md:font-light tracking-tight dark:text-white text-balance">Cała magia jest w Tobie, ale chcielibyśmy dodać trochę blasku!</span>
        <Image class="absolute -bottom-48 -right-52 md:-bottom-40 md:-right-40 z-20" src={Subtract}  alt="circle"/>
    </div>
</section>