---

---
<div class="flex justify-end items-center">
    <button id="night" class="text-white bg-blue-500 transition-transform transform hover:-translate-y-1 hover:bg-blue-600 rounded-lg shadow-lg shadow-blue-500/50 m-10 p-3 text-lg">Toggle Dark Mode</button>
</div>

<script>
    const button = document.querySelector('#night');
    button.addEventListener('click', () => {
        document.documentElement.classList.toggle('dark')
    })
</script>