---
import {Image} from 'astro:assets'
import map from '../assets/images/mainPage/map.avif'
import CEA from '../assets/images/mainPage/CEA.png'
---
<footer class="2xl:h-dvh">
    <div class="flex">
        <div class="w-full sm:w-1/2 bg-[#58214b] dark:bg-gray-900">
            <div class="lg:w-[475px] xl:w-[550px] 2xl:w-[600px] max-lg:p-2 ml-auto max-sm:py-7 flex flex-col justify-center max-sm:items-center items-start h-full">
                <Image class="size-28 md:size-32 lg:size-44 mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16" src={CEA} alt="Quality mark"/>
                <h2 class="text-white mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16 text-xl lg:text-2xl 2xl:text-4xl font-semibold max-sm:text-center">SALON PIĘKNOŚCI LEVIRIN</h2>
                <div class="text-white text-balance text-sm sm:text-xs md:text-base lg:text-xl 2xl:text-3xl mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16 leading-7 max-sm:leading-5 max-sm:text-center">
                    Generała Romualda Traugutta 95, 50-417 Wrocław <br>
                    Godziny otwarcia: 08:00 - 21:00 <br>
                    Telefon: +48 (517) 359-446
                </div>
                <div class="">
                    <button class="w-[200px] h-10 2xl:h-14 2xl:w-[250px] text-center lg:text-xl 2xl:text-2xl rounded-2xl text-white max-sm: bg-pink-600 hover:shadow hover:cursor-pointer transform transition-transform hover:-translate-y-1"
                    type="submit">Zapisać się</button>
                </div>
            </div>
            </div>
        <div class="sm:w-1/2 sm:block max-sm:hidden">
            <Image class="w-full h-full" src={map} alt="Map"/>
        </div>
    </div>
</footer>