---
import {Image} from 'astro:assets'
import map from '../assets/images/mainPage/map.avif'
import CEA from '../assets/images/mainPage/CEA.png'
---
<footer>
    <div class="flex">
        <div class="container w-full sm:w-1/2 bg-[#58214b] dark:bg-gray-900 max-lg:p-6">
            <div class="py-20 lg:w-[475px] xl:w-[550px] 2xl:w-[600px] ml-auto max-sm:py-7 flex flex-col justify-center max-sm:items-center items-start h-full">
                <Image class="size-28 md:size-32 lg:size-44 mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16" src={CEA} alt="Quality mark"/>
                <h2 class="text-white mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16 text-xl lg:text-2xl 2xl:text-4xl font-semibold max-sm:text-center">SALON PIĘKNOŚCI LEVIRIN</h2>
                <div class="text-white text-balance text-sm sm:text-xs md:text-base lg:text-xl 2xl:text-3xl mb-3.5 md:mb-6 lg:mb-8 xl:mb-12 2xl:mb-16 leading-7 max-sm:leading-5 max-sm:text-center">
                    Generała Romualda Traugutta 95, 50-417 Wrocław <br>
                    Godziny otwarcia: 08:00 - 21:00 <br>
                    Telefon: +48 (517) 359-446
                </div>
                <div class="">
                    <button class="w-[200px] h-10 2xl:h-14 2xl:w-[250px] text-center lg:text-xl 2xl:text-2xl rounded-2xl text-white max-sm: bg-pink-600 dark:bg-pink-700 dark:hover:bg-pink-600 hover:bg-pink-500 hover:shadow hover:cursor-pointer transform transition-transform hover:-translate-y-1"
                    type="submit">Zapisać się</button>
                </div>
            </div>
            </div>
        <div class="sm:w-1/2 sm:block max-sm:hidden">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.391356721465!2d17.047596693393285!3d51.10123916739235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fc33e70aae7b1%3A0xaf2adeb61843898d!2zTGV2aXJpbiB8IFNhbG9uIHBpxJlrbm_Fm2Np!5e0!3m2!1sen!2sua!4v1709459111240!5m2!1sen!2sua" style="border:0;" class="w-full h-full" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>