<section id="question" class="dark:bg-gray-900 dark:opacity-70 bg-image-mobile-question md:bg-image-desktop-question bg-center bg-cover 2xl:h-screen p-6 sm:p-14">
    <h2 class="text-white text-3xl md:text-5xl mb-6 xl:mb-14">Pozostały jakieś pytania?</h2>
    <h3 class="text-white text-lg lg:text-xl mb-6 xl:mb-14 2xl:m-10">Zostaw zgłoszenie, oddzwonimy do Ciebie w najbliższym czasie</h3>
    <div class="container 2xl:mx-auto 2xl:pl-[17rem]">
        <form class="bg-[#de4c90] p-6 max-w-[450px] md:max-w-[500px] lg:max-w-[550px] xl:max-w-[640px] rounded-md dark:bg-gray-900 dark:opacity-100" action="" method="">
            <input class="p-3 mb-4 lg:text-lg w-full text-sm border rounded-lg text-gray-900 leading-tight focus:outline-none"
                name="name" type="text" placeholder="Twoje imię">
            <input class="p-3 mb-4 lg:text-lg w-full text-sm border rounded-lg text-gray-900 leading-tight focus:outline-none"
                name="phone" type="tel" placeholder="Twój numer telefonu">
            <button class="p-3 mb-3 w-full text-base bg-[#4cb274] hover:bg-green-700 text-white font-bolt rounded-lg focus:outline-none focus:shadow-2xl"
                type="submit">Wyślij</button>
            <div>
                <input class="form-checkbox h-3 w-3 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded-lg leading-tight dark:text-black" type="checkbox" id="agree">
                <label class="text-white text-sm" for="agree">zasubskrybowałam Instagram, -20% zniżki</label>
            </div>
        </form>
    </div>
</section>








<section id="question" class="dark:bg-gray-900 bg-image-mobile-question md:bg-image-desktop-question bg-center bg-cover 2xl:h-screen p-6 sm:p-14">
    <h2 class="text-white text-3xl md:text-5xl mb-6 xl:mb-14">Pozostały jakieś pytania?</h2>
    <h3 class="text-white text-lg lg:text-xl mb-6 xl:mb-14 2xl:m-10">Zostaw zgłoszenie, oddzwonimy do Ciebie w najbliższym czasie</h3>
    <div class="container 2xl:mx-auto 2xl:pl-[17rem]">
        <form class="bg-[#de4c90] p-6 max-w-[450px] md:max-w-[500px] lg:max-w-[550px] xl:max-w-[640px] rounded-md dark:bg-gray-900 dark:opacity-100" action="" method="">
            <input class="p-3 mb-4 lg:text-lg w-full text-sm border rounded-lg text-gray-900 leading-tight focus:outline-none"
                name="name" type="text" placeholder="Twoje imię">
            <input class="p-3 mb-4 lg:text-lg w-full text-sm border rounded-lg text-gray-900 leading-tight focus:outline-none"
                name="phone" type="tel" placeholder="Twój numer telefonu">
            <button class="p-3 mb-3 w-full text-base bg-[#4cb274] hover:bg-green-700 text-white font-bolt rounded-lg focus:outline-none focus:shadow-2xl"
                type="submit">Wyślij</button>
            <div>
                <input class="form-checkbox h-3 w-3 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded-lg leading-tight dark:text-black" type="checkbox" id="agree">
                <label class="text-white text-sm" for="agree">zasubskrybowałam Instagram, -20% zniżki</label>
            </div>
        </form>
    </div>
</section>







