
<section id="question" class="bg-image-mobile-question md:bg-image-desktop-question bg-center bg-cover h-[30rem] p-6 sm:p-14">
    <h2 class="text-white text-2xl md:text-4xl mb-4">Pozostały jakieś pytania?</h2>
    <h3 class="text-white text-sm lg:text-base mb-10">Zostaw zgłoszenie, oddzwonimy do Ciebie w najbliższym czasie</h3>
    <form class="bg-[#de4c90] p-6 md:max-w-[450px] lg:max-w-[550px] xl:max-w-[640px] rounded-md" action="" method="">
        <input class="p-2.5 mb-4 lg:text-lg w-full text-sm shadow-lg border rounded-lg text-gray-900 leading-tight focus:outline-none focus:shadow-2xl"
             name="name" type="text" placeholder="Twoje imię">
        <input class="p-2.5 mb-4 lg:text-lg w-full text-sm shadow-lg border rounded-lg text-gray-900 leading-tight focus:outline-none focus:shadow-2xl"
            name="phone" type="tel" placeholder="Twój numer telefonu">
        <button class="p-2.5 w-full text-base bg-[#4cb274] hover:bg-green-700 text-white font-bolt rounded-lg focus:outline-none focus:shadow-2xl"
            type="submit">Wyślij</button>
        <div>
            <input class="h-3 w-3 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded-lg leading-tight" type="checkbox" id="agree">
            <label class="text-white text-xs" for="agree">zasubskrybowałam Instagram, -20% zniżki</label>
        </div>
    </form>
</section>

