<section id="price" class="bg-image-price bg-cover bg-center relative">
    <div class="absolute inset-0 dark:bg-gray-900 opacity-90 z-10"></div>
    <div class="relative z-20">
        <div class="w-full p-0 bg-white dark:bg-gray-900">
            <div class="lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px] bg-white mx-auto dark:bg-gray-900">
                <h2 class="uppercase text-3xl font-bold px-6 mx-auto text-center lg:text-start py-10 dark:text-white">CENNIK</h2>
            </div>
        </div>
        <div class="mb-6 max-w-[28rem] lg:w-[20rem] xl:w-[28rem] mx-auto py-6 xl:py-10">
            <h3 class="mb-3 lg:mb-6 text-2xl lg:text-3xl lg:text-start lg:mx-auto font-medium text-center dark:text-white">
                Permanent</h3>
            <ul class="text-lg mx-auto">
                <li class="flex justify-between border-b border-black border-dashed mb-4 lg:mb-8 dark:text-white"><span>Usta</span><span>650 zł</span>
                </li>
                <li class="flex justify-between border-b border-black border-dashed mb-4 lg:mb-8 dark:text-white"><span>Brwi</span><span>650 zł</span>
                </li>
                <li class="flex justify-between border-b border-black border-dashed mb-4 lg:mb-8 dark:text-white"><span>Kreski</span><span>650 zł</span>
                </li>
                <li class="flex justify-between border-b border-black border-dashed mb-4 lg:mb-8 dark:text-white"><span>Korekta</span><span>300 zł</span>
                </li>
            </ul>
        </div>
        <div class="bg-white py-12 dark:bg-gray-900"></div>
    </div>
</section>

