---
import {Image} from 'astro:assets'
import lips from '../../assets/images/permanent/lips.png'
---
<section id="question" class="relative bg-black 2xl:h-[850px]">
    <div class="absolute h-full">
        <Image class="lg:block hidden" src={lips} alt="Lips"/>
    </div>
    <div class="flex flex-col mx-auto sm:max-lg:p-6 max-sm:items-center max-sm:text-center max-sm:px-7 justify-center h-full pt-5 lg:pt-8 pb-6 lg:pb-12 lg:w-[950px] xl:w-[1100px] 2xl:w-[1200px]">
        <h2 class="text-white text-3xl md:text-4xl 2xl:text-5xl md:py-4 lg:w-1/2 lg:ml-auto">Pozostały jakieś pytania?</h2>
        <p class="text-white text-lg lg:text-xl 2xl:text-2xl mb-6 md:mb-10 xl:mb-14 md:w-1/2 lg:w-1/2 lg:ml-auto ">Zostaw zgłoszenie, oddzwonimy do Ciebie w najbliższym czasie</p>
        <form id="questionForm" class="bg-[#f5f5f5] dark:bg-gray-900 p-6 lg:w-1/2 lg:ml-auto md:px-10 max-w-[450px] md:max-w-[500px] lg:max-w-[550px] xl:max-w-[640px] 2xl:max-w-[750px] rounded-md" action="" method="">
            <label for="name" class="sr-only">Twoje imię</label>
            <input class="p-3 mb-4 text-md 2xl:text-xl w-full border border-[#545454] rounded-lg text-[#545454] leading-tight focus:outline-none"
                id="name" type="text" placeholder="Twoje imię">
            <label for="phone" class="sr-only">Twój numer telefonu</label>
            <input class="p-3 mb-4 text-md 2xl:text-xl w-full border border-[#545454] rounded-lg text-[#545454] leading-tight focus:outline-none"
                id="phone" type="tel" placeholder="Twój numer telefonu">
            <label for="buttonForm" class="sr-only">Wyślij</label>
            <button id="buttonForm" class="p-3 mb-3 w-full text-md 2xl:text-xl bg-[#4cb274] hover:bg-green-700 dark:bg-pink-700 dark:hover:bg-pink-600 text-white font-bolt rounded-lg focus:outline-none focus:shadow-2xl"
                type="submit">Wyślij</button>
            <div class="flex items-center">
                <input type="checkbox" id="agree" class="h-3 w-3 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded-lg leading-tight">
                <label for="agree" class="text-[#545454] ms-2 text-md 2xl:text-xl dark:text-white">zasubskrybowałam Instagram, -20% zniżki</label>
                </div>
        </form>
    </div>
</section>

<style>
    #questionForm, 
    #buttonForm {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
    }
</style>